body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.header {
  color: white;
  border: 1px solid white;
  background-color: black;
  width: 90vw;
  height: 10vh;
  font-size: 8vh;
  display: flex;
  align-items: center;
  margin: 5vh;
}

.middle {
  display: flex;
}
.menu {
  border: 1px solid white;
  height: 70vh;
  width: 20vw;
  margin: 5vh
l
}

.content {
  border: 1px solid white;
  width: 50vw;
  height: 70vh;
  margin: 5vh;
}

ul {
  color:;
}

li {
  font-size: 1%;
}

.post {
  font-color: white;
  font-size: 1%;
}