body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: block;
  justify-content: center;
}

.header {
  color: white;
  border: 1px solid white;
  background-color: black;
  width: 95vw;
  height: 10vh;
  font-size: 8vh;
  display: flex;
  align-items: center;
}

.menu {
  border: 1px solid white;
  height: 70%;
  width: 20%;
}