body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.header {
  color: white;
  border: 1px solid white;
  background-color: black;
  width: 90vw;
  height: 10vh;
  font-size: 8vh;
  display: flex;
  align-items: center;
  
}

.middle {
  
}
.menu {
  border: 1px solid white;
  height: 70vh;
  width: 10vw;

}

.content {
  border: 1px solid white;
  width: 40vw;
  height: 70vh;
}